.nftItem {
    margin: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .nftItem:active {
    transform: scale(0.95);
  }

  .nftName {
    font-size: 18px;
    margin-bottom: -6px;
  }
  
  .nftAnimation {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nftItem:hover .nftAnimation {
    opacity: .5;
}