.modalOverlay {
  position: fixed;
  background-color: rgba(100, 100, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modalOverlay:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modalOverlay.open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modalOverlay > div {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

.txInfo{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black
}

.modalClose {
  color: #aaa;
  line-height: 50px;
  font-size: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.modalClose:hover {
  color: black;
}

.container {
  display: grid;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}

.modalOverlay div:not(:last-of-type) {
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
  display: block;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
  color: black
}
