.aligner {
    margin-top: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .header {
    font-weight: bold;
  }
  
  .row {
    padding: 10px 0;
  }
  
  .cell {
    padding: 15px;
    text-align: left;
  }

  